@model Entidades.Reservaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAcompanantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAcompanantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoReservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoReservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoReservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoReservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoReservacionPagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoReservacionPagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHabitacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHabitacionNavigation.IdHabitacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReservacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
