@model IEnumerable<Entidades.Reservaciones>

@{
    ViewData["Title"] = "Reservaciones";
}

<h1>Reservaciones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva reservación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdReservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.EstadoReservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoReservacionPagado)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.CostoReservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHabitacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadAcompanantes)
            </th>
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdReservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.EstadoReservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoReservacionPagado)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.CostoReservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHabitacionNavigation.IdHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadAcompanantes)
            </td>
            -->
            <td>
                <a asp-action="Details" asp-route-id="@item.IdReservacion" class="btn btn-info">Información</a>
                <a asp-action="Edit" asp-route-id="@item.IdReservacion" class="btn btn-warning">Modificar</a>
                <a asp-action="Delete" asp-route-id="@item.IdReservacion" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
