@model Entidades.Habitaciones

@{
    ViewData["Title"] = "Habitaciones";
}

<h1>Borrar</h1>

<!-- h3>Desea borrar este registro?</h3 -->
<div>
    <h4>Habitación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumHabitacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PisoHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PisoHabitacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadPersonas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CapacidadPersonas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HabitacionActiva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HabitacionActiva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoHabitacionNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoHabitacionNavigation.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHabitacion" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    </form>
</div>
