@model IEnumerable<Entidades.Habitaciones>

@{
    ViewData["Title"] = "Habitaciones";
}

<h1>Inventario de habitaciones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva habitación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHabitacion)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.NumHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PisoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadPersonas)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.HabitacionActiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoHabitacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHabitacion)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.NumHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PisoHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadPersonas)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionActiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoHabitacionNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdHabitacion" class="btn btn-info">Información</a>
                <a asp-action="Edit" asp-route-id="@item.IdHabitacion" class="btn btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdHabitacion" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
