@model Entidades.TiposHabitaciones

@{
    ViewData["Title"] = "Tipos de habitación";
}

<h1>Borrar</h1>

<!-- h3>Desea borrar este registro?</h3 -->
<div>
    <h4>Tipo de habitación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoHabitacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioNoche)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioNoche)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTipoHabitacion" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    </form>
</div>
