@model Entidades.TiposHabitaciones

@{
    ViewData["Title"] = "Tipo de habitación";
}

<h1>Información</h1>

<div>
    <h4>Tipo de habitación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoHabitacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioNoche)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioNoche)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTipoHabitacion" class="btn btn-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-dark">Cerrar</a>
</div>
