@model IEnumerable<Entidades.TiposHabitaciones>

@{
    ViewData["Title"] = "Tipos de habitación";
}

<h1>Mantenimiento de los tipos de habitación</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo tipo de habitación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioNoche)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioNoche)
            </td>
            <td>
                <!--
        <a asp-action="Details" asp-route-id="@item.IdTipoHabitacion" class="btn btn-info">Información</a>
        -->
                <a asp-action="Edit" asp-route-id="@item.IdTipoHabitacion" class="btn btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdTipoHabitacion" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
