@model Entidades.Usuarios

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Borrar</h1>

<!-- h3>Desea borrar este registro?</h3 -->
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <!--
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>
        -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioActivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioActivo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Usuario" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    </form>
</div>
