@model IEnumerable<Entidades.Roles>

@{
    ViewData["Title"] = "Roles";
}

<h1>Adiministración de roles</h1>

<p>
    <a asp-action="Create">Crear rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRol">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRol">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRol">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
