@model IEnumerable<Entidades.RolesUsuarios>

@{
    ViewData["Title"] = "Asignación de roles";
}

<h1>Asignación de roles a los usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Asignar rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioNavigation.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.Descripcion)
            </td>
            <td>
                <!--
                <a asp-action="Details" asp-route-id="@item.Id">Información</a>
                -->
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Cambiar rol</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Quitar rol</a>
            </td>
        </tr>
}
    </tbody>
</table>
